# deny all
*

# folders
!core/
!core/**
!service/
!service/**
!static/
!static/**

# files
!main.py
!requirements.txt
!Dockerfile
!readme.md
!AGENTS.md
!/.gitignore

# python
__pycache__/
*.py[cod]
*$py.class
