# deny
*

# add folder
!core/
!core/**
!static/
!static/**
!tests/
!tests/**
!docs/
!docs/**
!script/
!script/**
!.github/
!.github/**
!.vscode/
!infra/
!infra/**

# add file
!main.py
!requirements.txt
!Dockerfile
!readme.md
!/.gitignore
!pytest.ini
!.dockerignore
!.vscode/settings.json
!.vscode/launch.json

# ignore
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.DS_Store
Thumbs.db
.idea/
*.swp
*.bak
tmp/
scratch/
venv/
.env
*.log
