# deny
*

# add folder
!core/
!core/**
!static/
!static/**
!tests/
!tests/**
!.github/
!.github/**
!infra/
!infra/**

# add file
!main.py
!requirements.txt
!Dockerfile
!readme.md
!/.gitignore
!pytest.ini
!.dockerignore

# ignore
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak
tmp/
scratch/
venv/
.env
*.log
